@font-face {
  font-weight: 300;
  font-family: "Teko";
  font-style: normal;
  src: url("/fonts/Teko-Light.eot");
  src:
    url("/fonts/Teko-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Teko-Light.woff2") format("woff2"),
    url("/fonts/Teko-Light.woff") format("woff"),
    url("/fonts/Teko-Light.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-weight: 500;
  font-family: "Teko";
  font-style: normal;
  src: url("/fonts/Teko-Medium.eot");
  src:
    url("/fonts/Teko-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Teko-Medium.woff2") format("woff2"),
    url("/fonts/Teko-Medium.woff") format("woff"),
    url("/fonts/Teko-Medium.ttf") format("truetype");
  font-display: fallback;
}
